<div class="amenities content-area clearfix">
    <div class="container">
        <div class="main-title">
            <h1>Our Special Facilities</h1>
            <p>Business and leisure travelers will love relaxing at our pool that opens to an outdoor patio, keeping up with workouts in our state of the art fitness center and unwinding in spacious guest rooms with modern amenities but a one-of-a-kind feel of urban rustic modern flair.</p>        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "restaurant.png", class: "specifics-thumbnails" %>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title ">
                                <a href="<%=rooms_path%>" class="">Restuarant</a>
                            </h5>
                        </header>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "bar.png", class: "specifics-thumbnails"%>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">Bar</a>
                            </h5>
                       </header>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "event-and-convention-space.png", class: "specifics-thumbnails" %>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">Event & Convention Space</a>
                            </h5>                         
                       </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "gym.png", class: "specifics-thumbnails" %>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title ">
                                <a href="#" class="">GYM</a>
                            </h5>
                        </header>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "pool-and-hot-tub.png", class: "specifics-thumbnails"%>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">Pool & Hot Tub</a>
                            </h5>
                       </header>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>