<div class="favorite-rooms content-area clearfix">
    <div class="container">
        <div class="main-title">
            <h1>Hotel Features</h1>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a href="<%=rooms_path%>">
                    <div class="thumbnail rooms-box clearfix">
                        <%= image_tag "139-rooms-and-more.jpg", class: "specifics-thumbnails" %>
                        <div class="caption detail">
                            <header class="clearfix">
                                <h5 class="title ">
                                    <a href="<%=rooms_path%>" class="">Rooms & Suites</a>
                                </h5>
                                <ul class="custom-list">
                                    <li>
                                        <a href="<%=rooms_path%>">139 rooms</a> /
                                    </li>
                                    <li>
                                        <a href="<%=rooms_path%>">amenity space</a> /
                                    </li>
                                    <li>
                                    <a href="<%=rooms_path%>">15 suites</a> /
                                    </li>
                                </ul>
                            </header>
                            <!-- Paragraph -->
                            <p>Hotel at Rock Lititz will feature 139 rooms, plus additional amenity space throughout the beautiful 92,000 sq ft building.</p>
                            <!-- Facilities List -->
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "Dining.jpg", class: "specifics-thumbnails"%>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">Dining</a>
                            </h5>
                            <ul class="custom-list">
                                <li>
                                    <a href="#">restuarants</a> /
                                </li>
                            </ul>
                       </header>
                        <!-- Paragraph -->
                        <p>Hotel at Rock Lititz in-house restaurant will feature delectable menu offerings during breakfast and dinner daily.</p>
                        <!-- Facilities List -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "event-hall.jpg", class: "specifics-thumbnails" %>
                    <div class="caption detail">
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">Events</a>
                            </h5>
                            <ul class="custom-list">
                                <li>
                                    <a href="#">weddings</a> /
                                </li>
                                <li>
                                    <a href="#">meetings</a> /
                                </li>
                                <li>
                                    <a href="#">conferences</a> /
                                </li>
                            </ul>                           
                       </header>
                        <!-- Paragraph -->
                        <p>The property will have exceptional flexible banquet space of over 3,000 square feet - perfect for weddings, corporate or social events.</p>
                        <!-- Facilities List -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail rooms-box clearfix">
                    <#%= image_tag "kings-&-queens.jpg", class: "specifics-thumbnails"%>
                    <div class="caption detail">
                        <header class="clearfix">
                            <div class="pull-left">
                                <h5 class="title">
                                    <a href="#">KINGS & QUEENS</a>
                                </h5>
                                <ul class="custom-list">
                                    <li>
                                        <a href="#">1 bed</a> /
                                    </li>
                                    <li>
                                        <a href="#">2 People</a> /
                                    </li>
                                    <li>
                                        <a href="#">sea  view</a> 
                                    </li>
                                </ul>
                            </div>
                            <div class="price">
                                <span>from $99/day</span>
                            </div>
                       </header>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.</p>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-air-conditioner"></i>
                                <span>Ac</span>
                            </li>
                            <li>
                                <i class="flaticon-room-service"></i>
                                <span>Room Service</span>
                            </li>
                            <li>
                                <i class="flaticon-wifi"></i>
                                <span>Wifi Access</span>
                            </li>
                            <li>
                                <i class="flaticon-key"></i>
                                <span>Free Safe </span>
                            </li>
                            <li>
                                <i class="flaticon-car-parking"></i>
                                <span>Parking</span>
                            </li>
                            <li>
                                <i class="flaticon-monitor"></i>
                                <span>TV</span>
                            </li>
                        </ul>
                        <div class="btn-div">
                            <a href="http://hotel-empire.sohelrana.me/rooms-details.html">
                                <span class="read-more">Ream More</span>
                                <span class="icon-arrow-right2 bg-danger">
                                    <i class="fa  fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>